:root {
  --box-size-cqw: 80cqw;
  --move-num: 8;
  --box-size-num-moves: 5;
  --cell-size: calc(var(--box-size-cqw) / var(--box-size-num-moves));
  --ball-size: calc(var(--cell-size) - 1px);
  --ball-opacity: 90%;
  --outer-box-border-thickness: 2vw;
  --body-background: #e9c46a;
  --app-background: #264653;
  --primary-color: #2a9d8f;
  --secondary-color: #e76f51;
  --tertiary-color: #f4a261;
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v156/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOejbd5zrDAt.woff2) format('woff2');
}

body {
  background-color: var(--body-background);
  font-family: "Orbitron", sans-serif;
  color: var(--body-background);
  margin: 0;
  user-select: none;
}

.selectable {
  animation-name: grow;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: var(--primary-color);
  color: var(--app-background);
  cursor: pointer;
}

.notSelectable {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  cursor: default;
}

.selected {
  border-color: var(--body-background);
  background-color: var(--body-background);
  color: var(--app-background);
}

.nextSelectable {
  animation-name: bounce;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-color: var(--body-background);
  background-color: var(--body-background);
  color: var(--app-background);
}

@keyframes grow {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(105%, 105%);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10%);
  }

  60% {
    transform: translateY(-5%);
  }
}

.horizontalChoices {
  display: flex;
  justify-content: space-around;
}

@container app-content (min-width: 100px) {
  .option {
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    margin: 2px;
    width: var(--cell-size);
    aspect-ratio: 1 /1;
    font-size: var(--cell-size);
    font-family: "Material Symbols Outlined";
    line-height: 1;
    border-radius: 10px;
  }

  #selector {
    bottom: 50%;
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  #outerContainer {
    width: var(--box-size-cqw);
    aspect-ratio: 1 /1;
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 3px;
    margin: 10px auto;
    padding: calc((var(--cell-size) / 2));
    border-radius: 10px;
  }

  #optionsContainer {
    bottom: 50%;
    position: absolute;
    transform: translate(0, 50%);
    width: 100%;
  }

  .bottomBar {
    bottom: 5cqw;
    left: 10cqw;
    position: absolute;
    width: 80cqw;
    border-radius: 10px;
    height: 7cqh;
  }
}

#starCounter {
  font-family: "Orbitron", sans-serif;
  margin-left: 5cqw;
}

.journeyBoardHeader {
  font-family: "Material Symbols Outlined";
}

.filledStar {
  color: var(--body-background);
}

.emptyStar {
  color: var(--secondary-color);
}

.levelBoard-score {
  font-family: "Material Symbols Outlined";
}

.levelBoard-number {
  margin: 3cqh 3cqw;
}

.levelAction {
  font-family: "Material Symbols Outlined";
  font-size: 6cqh;
  min-width: 20px;
  aspect-ratio: 1 /1;
  border-radius: 10px;
}

.validAction {
  color: var(--body-background);
  animation-name: grow;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.invalidAction {
  color: var(--secondary-color);
}

#Restart {
  position: absolute;
  left: 45cqw;
  bottom: 20cqh;
}

#Retry {
  left: 25cqw;
  position: absolute;
  margin-top: 5cqh;
}

#Next {
  left: 65cqw;
  position: absolute;
  margin-top: 5cqh;
}

#selection {
  margin-top: 2cqh;
}

#selectorContainer {
  height: 100%;
  max-height: 800px;
  container-type: inline-size;
  container-name: app-content;
  position: fixed;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  background-color: var(--app-background);
  font-size: 30px;
  text-align: center;
  border: 1px;
  border-radius: 10px;
}

#innerContainer {
  position: relative;
  height: 100%;
}

.activeBead {
  transform: translate(-50%, 50%);
  position: absolute;
}

.bead {
  opacity: var(--ball-opacity);
  border-radius: 10px;
  font-family: "Material Symbols Outlined";
  font-size: var(--ball-size);
  transform-origin: center center;
}

.bead:hover {
  cursor: pointer;
}

#inactiveBeadsContainer {
  display: flex;
  justify-content: space-around;
}
