:root {
  --box-size-px: 50vw;
  --ball-size-ratio: 0.2;
  --cell-size: calc(var(--box-size-px) * var(--ball-size-ratio));
  --ball-size: calc(var(--cell-size) - 1px);
  --ball-opacity: 80%;
  --outer-box-border-thickness: 2vw;
}

#countdown {
  border-color: brown;
  border-style: solid;
  margin: 2vw;
  width: auto;
  border-radius: 30px;
  height: 8vh;
}

#countdownInnerContainer {
  width: 98%;
}

#timeRemainingContainer {
  background-color: white;
  height: 6vh;
  margin: 1vh 1vw;
  width: 100%;
  border-radius: 30px;
}

#top {
  width: 50%;
  max-width: 200px;
  display: block;
}

.option {
  display: inline-block;
  border-color: black;
  border-style: solid;
  margin: 1vw;
  width: 10vw;
  height: 10vw;
  font-size: 10vw;
  font-family: 'Material Symbols Outlined';
  line-height: 1;
}

.option:hover {
  cursor: pointer;
}

.buttonReady {
  background-color: green;
}

.buttonNotReady {
  background-color: grey;
}

#header {
  height: 10vh;
}

#selectorContainer {
  height: 74vh;
}

#footer {
  bottom: 0;
  right: 0;
  left: 0;
}

#outerContainer {
  width: var(--box-size-px);
  height: var(--box-size-px);
  border-color: black;
  border-style: solid;
  border-width: var(--outer-box-border-thickness);
  margin: auto;
  padding: calc((var(--cell-size) / 2));
  border-radius: calc((var(--ball-size) / 2) + var(--outer-box-border-thickness));
}

#innerContainer {
  position: relative;
  width: auto;
  height: var(--box-size-px);
}

.activeBead {
  transform: translate(-50%, 50%);
  position: absolute;
}

.bead {
  opacity: var(--ball-opacity);
  border-radius: 50%;
}

.inactiveBead {
  display: inline-block;
  margin: 2vw;
}

.banner {
  width: 100%;
  max-width: 700px;
  background-color: bisque;
  margin: auto;
  font-size: 4vw;
  text-align: center;
  border-radius: 30px;
  height: 10vh;
  margin: 1vh 1vw;
  border: 1vw;
}

.emptyOption {
  display: inline-block;
  width: 15vw;
  border-bottom: 1vw;
  border-bottom-style: solid;
  border-bottom-color: black;
  margin: 2vw;
}

.answerBox {
  display: block;
  min-width: 3Opx;
  min-height: 10px;
  border-bottom: 5px;
  border-bottom-color: black;
  border-bottom-style: solid;
  margin: 10px;
}