#top {
  width: 50%;
  max-width: 200px;
  display: block;
}

.moveDirection {
  display: block;
  border-color: black;
  border-style: solid;
}
.moveDirection:hover {
  cursor: pointer;
}

#header {
  position: relative;
}

#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.banner {
  width: 100%;
  max-width: 700px;
  height: 10vw;
  background-color: bisque;
  margin: auto;
  font-size: 4vw;
}

.answerBox {
  display: block;
  min-width: 3Opx;
  min-height: 10px;
  border-bottom: 5px;
  border-bottom-color: black;
  border-bottom-style: solid;
  margin: 10px;
}